@use '../abstracts' as *;

html {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $color-canvas;
  color: $color-ink-soft;
  line-height: $line-height-base;
}
