// Import variables and mixins
@use 'variables' as *;
@use 'mixins' as *;

// Global CSS reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-white;
  color: $color-gray-900;
  line-height: $line-height-base;
}

// Focus visible styling for better accessibility
:focus-visible {
  outline: 2px solid $color-black;
  outline-offset: 2px;
}
